* {
    padding: 0;
    margin: 0;
    --farg:  rgb(255, 234, 192);
    --font:  arial, sans serif
}

.wrapper{
    display: grid;
    grid-template-areas: 
    'hd hd hd'
    'ru ru ru'
    'sc1 sc2 sc3'
    'ft ft ft'
    ;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 10vh 65vh 69vh 10vh;
    gap: 25px;
    background-color: rgb(255, 255, 255);
 
}

header{
    display: flex;
    background-color: #e74c3c;
    grid-area: hd;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 13vh;
}
footer{
    grid-area: ft;
    background-color: #e74c3c;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.rubrik{
    grid-area: ru;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
   
}

section{
    grid-area: sc;
}
#sc1{
    grid-area: sc1;
    background-image: url(/img/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#sc2{
    grid-area: sc2;
    background-image: url(/img/Close_Grip_Bench_Press.webp);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#sc3{
    grid-area: sc3;
    background-image: url(/img/Cluster-fitness-exercises-crossfit-1024x1024.webp);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav{
    grid-area: nv;

}

h1{
    font-size: 60px;
}
a{
    text-decoration: none;
    color: black;
    flex: 1;
    font-size: 50px;
}
#rubrik{
    font-size: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.537);
}
.rubrik{
    background-image: url(/img/jelmer-assink-gzeTjGu3b_k-unsplash.jpg);
    background-position: center;

}
a:hover{
    color: blue;
}
h2{
    font-size: 60px;
    color: white;
    background-color: rgba(0, 0, 0, 0.537);
}
.wrapper2{
    display: grid;
    grid-template-areas: 
    'hd'
    'ru2'
    'sc1'
    'sc2'
    'sc3'
    'ft';
    grid-template-columns: 1fr;
    grid-template-rows: 13vh 40vh repeat(3, 60vh) 1fr;
    height: 250vh;
    gap: 20px;

}
.rubrik2{
    grid-area: ru2;
    background-color: var(--farg);
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:  15px 15px 15px 55px;
    border-radius: 80px;
    margin: 0 25px 0 25px;
}
.sc1{
    grid-area: sc1;
    background-color: var(--farg);
    display: grid;
    grid-template-areas: 
    'tx2 bi2';
    grid-template-columns: 60% 40%;
    align-items: center;
    border-radius: 80px;
    margin: 0 25px 0 25px;
}
.sc2{
    grid-area: sc2;
    background-color: var(--farg);
    display: grid;
    grid-template-areas: 
    'tx2 bi2';
    grid-template-columns: 60% 40%;
    align-items: center;
    border-radius: 80px;
    margin: 0 25px 0 25px;
}
.sc3{
    grid-area: sc3;
    background-color: var(--farg);
    display: grid;
    grid-template-areas: 
    'tx2 bi2';
    grid-template-columns: 60% 40%;
    align-items: center;
    border-radius: 80px;
    margin: 0 25px 0 25px;
}
.bild2{
    grid-area: bi2;
    display: grid;
    align-items: center;
    justify-content: center;
  
}
.tx2{
    grid-area: tx2;
    padding: 10px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.tränningsbild{
    border-radius: 40px;
    width: 36vw;

}
.wrapper3{
    display: grid;
    grid-template-areas:
    'hd'
    'ar'
    'mn3'
    'ft'
    ;
     grid-template-rows: 7vh 100vh 60vh 1fr;
     grid-template-columns: 1fr;
     height: 185vh;
    row-gap: 40px;
     
}
#main3{
    grid-area: mn3;
    display: grid;
    grid-template-areas: 
    'p1 p2 p3 p4' 
    ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60vh;
    gap:40px;
    padding: 0 15px 0 15px;

}
.p1{
    grid-area: p1;
    background-color: var(--farg);
    display: flex;
    align-items: center;
   flex-direction: column-reverse;
   padding: 20px 20px 20px 20px;
   border-radius: 60PX;
}
.p2{
    grid-area: p2;
    background-color: var(--farg);
    display: flex;
   align-items: center;
   flex-direction: column-reverse;
   padding: 20px 20px 60px 20px;
   border-radius: 60PX;
}
.p3{
    grid-area: p3;
    background-color: var(--farg);
    display: flex;
   align-items: center;
   flex-direction: column-reverse;
   padding: 20px 20px 100px 20px;
   border-radius: 60PX;
}
.p4{
    grid-area: p4;
    background-color: var(--farg);
    display: flex;
   align-items: center;
   flex-direction: column-reverse;
   padding: 20px 20px 60px 20px;
   border-radius: 60PX;
}
article{
    grid-area: ar;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 50px 400px 50px 400px;
    background-color: var(--farg);
    border-bottom-left-radius: 100px;  
    border-bottom-right-radius: 100px;
    margin: 0 15px 0 15px;
}
.stortext{
    font-size: 160px;
   font-family: var(--font);
}
.brodtext{
    font-size: 40px;
    font-family: var(--font);
}
.mindretext{
    font-size: 80px;
    font-family: var(--font);
}
li{
    font-size: 40px;
    font-family: var(--font);
}
.bildperson{
    height: 35vh;
    border-radius: 60px;
}
.tx31{
    grid-area: tx31;
    justify-self: center;
}
.bild3{
    grid-area: bi31;

   
}
.fottertext{
    font-size: 40px;
}