* {
    padding: 0;
    margin: 0;
    --farg:  rgb(255, 234, 192);
}

.wrapper{
    display: grid;
    grid-template-areas: 
    'hd hd hd'
    'ru ru ru'
    'sc1 sc2 sc3'
    'ft ft ft'
    ;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 10vh 65vh 69vh 10vh;
    height: auto;
    gap: 25px;
    background-color: rgb(255, 255, 255);
    ;



}

header{
    display: flex;
    background-color: #e74c3c;
    grid-area: hd;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 13vh;
}
footer{
    grid-area: ft;
    background-color: aliceblue;
}
.rubrik{
    grid-area: ru;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
   
}

section{
    grid-area: sc;
}
#sc1{
    grid-area: sc1;
    background-image: url(/img/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#sc2{
    grid-area: sc2;
    background-image: url(/img/Close_Grip_Bench_Press.webp);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#sc3{
    grid-area: sc3;
    background-image: url(/img/Cluster-fitness-exercises-crossfit-1024x1024.webp);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav{
    grid-area: nv;
  
}

h1{
    font-size: 60px;
}
a{
    text-decoration: none;
    color: black;
    flex: 1;
    font-size: 50px;
}
#rubrik{
    font-size: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.537);
}
.rubrik{
    background-image: url(/img/jelmer-assink-gzeTjGu3b_k-unsplash.jpg);
    background-position: center;

}
a:hover{
    color: blue;
}
h2{
    font-size: 60px;
    color: white;
    background-color: rgba(0, 0, 0, 0.537);
}
.wrapper2{
    display: grid;
    grid-template-areas: 
    'hd'
    'ru'
    'sc21'
    'sc22'
    'sc23'
    'ft';
}

.wrapper3{
    display: grid;
    grid-template-areas:
    'hd'
    'ar'
    'mn3'
    'ft'
     ;
     grid-template-rows: 13vh 100vh 158vh 1fr;
     grid-template-columns: 1fr;
     height: 285vh;

     
}
#main3{
    grid-area: mn3;
    display: grid;
    grid-template-areas: 
    'p1'
    'p2' 
    'p3'
    'p4' 
    'p5'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 30vh);
    margin: 0 25px 0 25px;
    gap: 25px;

}
.p1{
    grid-area: p1;
    background-color: var(--farg);
    display: grid;
    grid-template-areas: 
    'tx31 bi31';
    grid-template-columns: 60vw 20vw;
    width: 90vw;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border-radius: 500px;
}
.p2{
    grid-area: p2;
    background-color: var(--farg);
    display: grid;
    grid-template-areas: 
    'tx31 bi31';
    grid-template-columns: 60vw 20vw;
    width: 90vw;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border-radius: 500px;
}
.p3{
    grid-area: p3;
    background-color: var(--farg);
    display: grid;
    grid-template-areas: 
    'tx31 bi31';
    grid-template-columns: 60vw 20vw;
    width: 90vw;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border-radius: 500px;
}
.p4{
    grid-area: p4;
    background-color: var(--farg);
    display: grid;
    grid-template-areas: 
    'tx31 bi31';
    grid-template-columns: 60vw 20vw;
    width: 90vw;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border-radius: 500px;
}
.p5{
    grid-area: p5;
    background-color: var(--farg);
    display: grid;
    grid-template-areas: 
    'tx31 bi31';
    grid-template-columns: 60vw 20vw;
    width: 90vw;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border-radius: 500px;
}
article{
    grid-area: ar;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 50px 50px 50px 50px;
    background-color: var(--farg);

    margin:0 0 50px 0;
    border-bottom-left-radius: 100px;  
    border-bottom-right-radius: 100px;
}
.stortext{
    font-size: 160px;
   
}
.brodtext{
    font-size: 40px;
}
.mindretext{
    font-size: 80px;
}
li{
    font-size: 40px;
}
.bildperson{
    height: 25vh;
    border-radius: 60px;
}
.tx31{
    grid-area: tx31;
    justify-self: center;
}
.bild3{
    grid-area: bi31;
   
}
